In [2]:
from pathlib import Path
import pandas as pd

In [3]:
HERE = Path.cwd().parent.parent
DATASET_PATH = HERE / 'dataset'

In [4]:
import sys
sys.path.append(str(HERE))

In [5]:
# Load datasets
train_df = pd.read_csv(f"{DATASET_PATH}/train.csv")
test_df = pd.read_csv(f"{DATASET_PATH}/test.csv")

In [6]:
from piu.data.data_preprocessor import DataPreprocessor

In [7]:
print(train_df.shape)
train_df.head()

(3960, 82)

,id,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,...,PCIAT-PCIAT_18,PCIAT-PCIAT_19,PCIAT-PCIAT_20,PCIAT-PCIAT_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday,sii
0,00008ff9,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,...,4.0,2.0,4.0,55.0,NaN,NaN,NaN,Fall,3.0,2.0
1,000fd460,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,...,0.0,0.0,0.0,0.0,Fall,46.0,64.0,Summer,0.0,0.0
2,00105258,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,...,2.0,1.0,1.0,28.0,Fall,38.0,54.0,Summer,2.0,0.0
3,00115b9f,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,...,3.0,4.0,1.0,44.0,Summer,31.0,45.0,Winter,0.0,1.0
4,0016bb22,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
tr_df = train_df.copy()
tr_df = tr_df.drop(['id', 'PCIAT-PCIAT_Total'], axis=1)
tr_df.head()

,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,Physical-Waist_Circumference,...,PCIAT-PCIAT_17,PCIAT-PCIAT_18,PCIAT-PCIAT_19,PCIAT-PCIAT_20,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday,sii
0,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,NaN,...,4.0,4.0,2.0,4.0,NaN,NaN,NaN,Fall,3.0,2.0
1,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,22.0,...,0.0,0.0,0.0,0.0,Fall,46.0,64.0,Summer,0.0,0.0
2,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,NaN,...,2.0,2.0,1.0,1.0,Fall,38.0,54.0,Summer,2.0,0.0
3,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,NaN,...,4.0,3.0,4.0,1.0,Summer,31.0,45.0,Winter,0.0,1.0
4,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Initialiser le prétraitement
preprocessor = DataPreprocessor(
    tr_df,
    target_column='sii',
    feature_selection_method="k_best",
    k_best=10,
    imputation_method="knn",
    drop_missing_target=True
)
    
# Transformer les données
X, y, class_weights = preprocessor.fit_transform()

In [10]:
X, y, class_weights

(tensor([[ 1.0744,  1.0073,  0.9991,  ...,  1.6400,  1.5611,  2.5789],
         [-1.2834, -1.5118, -1.3485,  ..., -1.1284, -1.0567, -0.7968],
         [-0.1045, -0.2522, -0.1747,  ...,  0.2558,  0.2522,  0.0471],
         ...,
         [ 0.4849,  0.3776,  0.4122,  ...,  0.2558, -0.4022, -0.7968],
         [ 1.6638,  0.3776,  1.5860,  ..., -0.4363, -0.4022,  0.0471],
         [-0.6940, -0.8820, -1.3485,  ..., -0.4363, -0.4022,  0.0471]]),
 tensor([2, 0, 0,  ..., 1, 1, 0]),
 tensor([ 0.4291,  0.9370,  1.8095, 20.1176]))